.no-posts-here {
  text-align: center;
}

.console_message {
	font-family: "Courier New", Courier,monospace !important;
    text-align: center;
}

.btn-above-all{
	z-index: 1000;
}

.post .post__meta {
  font-weight: bold;
  text-align: right;
  padding-bottom: 19px;
}

.post .post__meta a:hover {
  text-decoration: none;
}
.btn-add-new-post {
  position: fixed;
  bottom: 20px;
  right: 20px;
}