<form role="form" ng-submit="vm.submit()">
  <div class="form-group">
    <label for="post__content">Nuevo Elemento</label>
    <textarea class="form-control" 
              id="post__content" 
              rows="3" 
              placeholder="Descripción del objeto a registrar" 
              ng-model="vm.content">
    </textarea>
    <!--
    <input class="form-control"  
              id="post__image" type="file" ng-model="vm.datafile">-->
    <div class="button" ngf-select ng-model="vm.datafile" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" ngf-min-height="100" 
    ngf-resize="{width: 100, height: 100}">Seleccionar</div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">
      Enviar
    </button>
  </div>
</form>